# .gitignore
node_modules/
.env
firebase-credentials.json
uploads/
.DS_Store
main-engagment-code-default-rtdb-export.json
capstone-29eb1-firebase-adminsdk-fbsvc-ed33d07662.json
capstone-29eb1-default-rtdb-attendens-export.json
